body {
  background-color: rgb(13, 39, 39);
  max-width: 1200px;
  margin-left: 20%;
}

.image {
  background-image: url("WhatsApp\ Image\ 2022-11-29\ at\ 12.33.09\ PM.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1200px;
  height: 200px;
  margin: 0 auto;
}
.image h1 {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  text-size-adjust: 20px;
  position: absolute;
  top: 5%;
  left: 25%;
}
.image h2 {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 10%;
  left: 25%;
}
.menu {
  list-style-type: none;
  width: 1200px;
  margin: 10px auto 0 auto;
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.mng {
  display: grid;
  grid-gap: 0em;
  grid-template-columns: 1fr 4fr;
  margin: 0 auto;
  color: aliceblue;
}
.menu li {
  color: aliceblue;
}
.sno {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
}
#right {
  padding: 10px;
  border-left: aliceblue 1px solid;
}
footer {
  color: aliceblue;
  text-align: center;
}
