<main>
    <head>
        <link rel="stylesheet" type="text/css" href="JihanShamasStyleSheet.css" />

    </head>
    <body>
        <menu>
            <a href="">Level 1</a>
            <a href="">Level 2</a>
            <a href="">Level 3</a>
            <a href="">Level 4</a>
            <a href="">Level 5</a>
    
        
        </menu>
        <img src=""></img>
        <ul>
            <li>Im smart</li>
            <li>Im beautiful</li>
            <li>I Love Codi</li>
            <li>I Love food</li>
            <li>I want to go home</li>
        </ul>
        <img src="https://t4.ftcdn.net/jpg/02/65/70/73/360_F_265707361_N79UdgpbERwsjHZxIWRixuodCKqYsBF5.jpg" alt="Cute kwala image">
    </body>
    <footer><a href="https://codi.tech/">Codi</a> </footer>
</main>