<main>
    <header>
    </header>
    <body>
        <p>HTML Level 1</p></body>
        <h1> heading 1<br> followed by:</h1>
        <h2>heading 2</h2>
        <h3>heading 3</h3>
        <b>Jihan</b> <strong>Bassam</strong> <i>Shamas</i>
        <q>so excited to be in codi</q>
        <blockquote>I have to finish this task</blockquote>
        <h4>GeeksforGeeks</h4>
     
    <p>Welcome to <abbr title="GeeksforGeeks">GfG</abbr></p>
        <img src="https://www.google.com/search?q=html&sxsrf=ALiCzsYNlMnay6GfF9PUdAjAukyC5Ol7rg:1669642138287&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjiyrfU_dD7AhUKR_EDHeGqBQ4Q_AUoAnoECAMQBA&biw=1848&bih=948&dpr=1#imgrc=Bq4WTYc6O16thM">
    
        <footer>
    </footer>
</main>